---
# Source: oci-native-ingress-controller/templates/webhook.yaml
#
# OCI Native Ingress Controller
#
# Copyright (c) 2023 Oracle America, Inc. and its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl/
#
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: oci-native-ingress-controller-webhook-serving-cert
  namespace: native-ingress-controller-system
spec:
  dnsNames:
  - oci-native-ingress-controller.native-ingress-controller-system
  - oci-native-ingress-controller.native-ingress-controller-system.svc
  - oci-native-ingress-controller.native-ingress-controller-system.svc.cluster.local
  issuerRef:
    kind: Issuer
    name: oci-native-ingress-controller-ca
  secretName: oci-native-ingress-controller-tls
---
# Source: oci-native-ingress-controller/templates/webhook.yaml
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: oci-native-ingress-controller-ca
  namespace: native-ingress-controller-system
spec:
  selfSigned: {}
---
# Source: oci-native-ingress-controller/templates/webhook.yaml
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: oci-native-ingress-controller-webhook
  labels:
    helm.sh/chart: oci-native-ingress-controller-1.3.3
    app.kubernetes.io/name: oci-native-ingress-controller
    app.kubernetes.io/instance: oci-native-ingress-controller
    app.kubernetes.io/version: "1.3.3"
    app.kubernetes.io/managed-by: Helm
  annotations:
    cert-manager.io/inject-ca-from: native-ingress-controller-system/oci-native-ingress-controller-webhook-serving-cert
webhooks:
- clientConfig:
    service:
      name: oci-native-ingress-controller
      namespace: native-ingress-controller-system
      path: /mutate-v1-pod
  failurePolicy: Fail
  name: podreadiness.ingress.oraclecloud.com
  admissionReviewVersions:
  - v1beta1
  namespaceSelector:
    matchExpressions:
    
    - key: podreadiness.ingress.oraclecloud.com/pod-readiness-gate-inject
      operator: In
      values:
      - enabled
    
  objectSelector:
    matchExpressions:
    - key: app.kubernetes.io/name
      operator: NotIn
      values:
      - oci-native-ingress-controller
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - CREATE
    resources:
    - pods
  sideEffects: None
